/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

/*END FONTS*/

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    /*permite deslizar lento cuando se hace clic en los links del menu*/
    scroll-behavior: smooth;
}

/*START CSS MENU*/
.container-header{
    background: #1f1c19;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container-header header .logo a{
font-family: 'Righteous';
font-size: 40px;
color: orangered;
text-decoration: none;
}

.container-header header ul{
    display: flex;
    list-style: none;
}

.container-header header nav ul li a{
    text-align: none;
    color: #ffffff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.container-header header nav ul li a:hover{
    color: orange;
}

.nav-responsive{
    background-color: orangered;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/*END CSS MENU*/

/* START HOME */

.home{
background: linear-gradient(to top,rgba(77, 70, 62, 0.8), rgb(70, 62, 50)),
url(img/background.jpg);
background-size: cover;
height: 100vh;
color: rgb(255, 255, 255); /* font color*/
display: flex;
align-items: center;
padding: 50px 20px;

}

.home .content-section{
    max-width: 1100px;
    margin: auto;
}

.home .line {
    display: flex;
}

.home .line  .col {
    width: 50%;
    padding: 50px;
    position: relative;
}

.home .line .col .content-presentation {
   position: relative;
   width: 100%;
    }

.home .line .col .content-presentation h3{
font-size: 45px;
font-family: 'Righteous';
}

.home .line .col .content-presentation h1{
    font-size: 85px;
    line-height: 1.3;
    color: orange;
    font-family: 'Righteous';
    }

.home .line .col .content-presentation p{
        font-size: 25px;
        font-family: 'Righteous';
        }
    
    
.home .line .col .content-banner{
padding: 20px;
background-color: rgba(29, 20, 10, 0.624);
max-width: 100%; /*banner size*/
margin: auto;
display: block;
text-align: center;
border-radius: 40px;
position: absolute;
}

.home .line .col .content-banner img{
    margin-top: 40px;
    border: 10px solid orange;
    display: block;
    width: 80%; /* image size */
    margin: auto;
    border-radius: 100%;
}

.home .line .col .content-presentation h1:hover{
color: rgb(255, 216, 144);
box-shadow: 0 0 1rem var(rgb(255, 246, 230));
}

.home .line .col .content-banner h1{
margin-top: 40px;
font-size: 42px;
font-family: 'Righteous';

}

.home .line .col  .content-banner h2{
    font-size: 15px;
    font-weight: normal;
    color: orange;
}

.home .line .col .content-banner .socialmedia a{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s ease;
}

.home .line .col .content-banner .socialmedia a:hover{
    background-color: rgb(143, 94, 4);
    box-shadow: 0 0 1rem var(rgb(143, 94, 4));
}
/* END HOME */

/* START ABOUT ME*/

.aboutme{
    background-color: rgba(29, 20, 10, 0.624);
    color: #ffffff;
    padding: 50px 20px;
}

.aboutme .content-section{
    max-width: 1100px;
    margin: auto;
}

.aboutme h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.aboutme .content-section p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    
}

.aboutme .content-section p span{
    color: orange;
    font-weight: bold;
}

.aboutme .line{
    display: flex;
}

.aboutme .line .col{
    width: 50%;
}

.aboutme .line .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.aboutme .line .col ul{
    list-style: none;
}

.aboutme .line .col ul li{
   margin: 12px 0;
}

.aboutme .line .col ul li strong{
    display: inline-block;
    color: orange;
    width: 130px;
}

.aboutme .line .col ul li span{
    background-color: rgb(63, 48, 21);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
    
}

/* START INTEREST COLUMN*/
.aboutme .line .col .container-interests{
    display: flex;
    flex-wrap: wrap;
}

.aboutme .line .col .container-interests .interest{
width: 120px;
height: 100px;
background-color: #1f1c19;
border-radius: 10px;
margin: 0 15px 15px 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: .3s;
}

.aboutme .line .col .container-interests .interest:hover{
background-color: orange;
}

.aboutme .line .col .container-interests .interest i{
    font-size: 30px;
    margin-bottom: 10px;
}
/* END INTEREST COLUMN*/
/* CV BUTTON DOWNLOAD */
.aboutme button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffffff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    z-index: 10;
}

.aboutme button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: orange;
    z-index: .1;
    transition: 1s;
}

.aboutme button:hover .overlay{
    width: 100%;
    
}

/* END BUTTON DOWNLOAD */
/* END ABOUT ME*/

/* START SKILLS SECTION */

.skills{
    background-color: rgba(14, 10, 5, 0.624);
    color: #ffffff;
    padding: 50px 20px;
}

.skills .content-section{
    max-width: 1100px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.skills .line{
    display: flex;
}

.skills .line .col{
    width: 50%;
    padding: 0 20px; 
/*     padding: 0 70px; */
}

.skills .line .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: rgba(14, 10, 5, 0.624);
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progress{
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: orange;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Estas clases se agregaran dinamicamente mediante JavaScript */
/* START SOFT SKILLS */
.skills .skill .leadership{
    width: 0%;
    animation: 2s leadership forwards;
}

@keyframes leadership{
    0%{width: 0%}
    100%{width: 100%;}
}

.skills .skill .teamworkplayer{
    width: 0%;
    animation: 2s teamworkplayer forwards;
}

@keyframes teamworkplayer{
    0%{width: 0%}
    100%{width: 95%;}
}

.skills .skill .creativity{
    width: 0%;
    animation: 2s creativity forwards;
}

@keyframes creativity{
    0%{width: 0%}
    100%{width: 100%;}
}

.skills .skill .communication{
    width: 0%;
    animation: 2s communication forwards;
}

@keyframes communication{
    0%{width: 0%}
    100%{width: 100%;}
}

.skills .skill .flexible{
    width: 0%;
    animation: 2s flexible forwards;
}

@keyframes flexible{
    0%{width: 0%}
    100%{width: 95%;}
}

@keyframes quicklearning{
    0%{width: 0%}
    100%{width: 100%;}
}

.skills .skill .quicklearning{
    width: 0%;
    animation: 2s quicklearning forwards;
}
/*END SOFT SKILLS*/

/*START TECHNICAL SKILLS*/

@keyframes abap{
    0%{width: 0%}
    100%{width: 95%;}
}

.skills .skill .abap{
    width: 0%;
    animation: 2s abap forwards;
}

@keyframes htmlcss{
    0%{width: 0%}
    100%{width: 90%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes javascript{
    0%{width: 0%}
    100%{width: 90%;}
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes dbmanagement{
    0%{width: 0%}
    100%{width: 80%;}
}

.skills .skill .dbmanagement{
    width: 0%;
    animation: 2s dbmanagement forwards;
}

@keyframes adobe{
    0%{width: 0%}
    100%{width: 95%;}
}

.skills .skill .adobe{
    width: 0%;
    animation: 2s adobe forwards;
}

@keyframes adobeilustrator{
    0%{width: 0%}
    100%{width: 80%;}
}

.skills .skill .adobeilustrator{
    width: 0%;
    animation: 2s adobeilustrator forwards;
}
/*END TECHNICAL SKILLS*/

/*START LANGUAGE SKILLS*/

@keyframes english{
    0%{width: 0%}
    100%{width: 90%;}
}

.skills .skill .english{
    width: 0%;
    animation: 2s english forwards;
}

@keyframes spanish{
    0%{width: 0%}
    100%{width: 100%;}
}

.skills .skill .spanish{
    width: 0%;
    animation: 2s spanish forwards;
}

/*END LANGUAGE SKILLS*/
/* END SKILLS SECTION */

/*START EXPERIENCE SECTION*/

.experience{
    background-color: rgba(29, 20, 10, 0.624);
    color: #ffffff;
    padding: 50px 20px;
}

.experience .content-section{
    max-width: 1100px;
    margin: auto;
}

.experience h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.experience .line{
    display: flex;
    justify-content: space-between;
}

.experience .line .col{
    width: 49%;
    padding: 0 70px;
}

.experience .line .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px; 
}

.experience .line .left{
    border-right: 2px solid rgba(75, 63, 44, 0.247);
    
}
.experience .line .right{
    border-left: 2px solid rgba(90, 77, 57, 0.267);
    
}

.experience .line .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: rgba(26, 18, 9, 0.397);
    position: relative;
}

.experience .line .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.experience .line .item .location{
   color:orange;
   font-size: 22px;
   font-weight: bold;
   display: block;
}

.experience .line .item .date{
    display: block;
    color: orangered;
    margin-bottom: 10px;
}

.experience .line .item p{
    line-height: 24px;
}

.experience .line .lef{
    border-right: 2px solid orange;
    margin-right: 20px;
}

.experience .line .righ{
    border-left: 2px solid orange;
    margin-left: 20px;
}

.experience .line .item .conectorl{
height: 2px;
background-color: orange;
width: 47px;
position: absolute;
top: 50%;
right: -47px;
z-index: 5;
}

.experience .line .item .conectorl .circulol{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: orange;
    float: right;
    position: relative;
    bottom: 4px;
    }

.experience .line .item .conectorr{
        height: 2px;
        background-color: orange;
        width: 47px;
        position: absolute;
        top: 50%;
        left: -47px;
        z-index: 5;
        }
        
.experience .line .item .conectorr .circulor{
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: orange;
        float: left;
        position: relative;
        bottom: 4px;
        }
/*END EXPERIENCE SECTION*/

/*START PORTFOLIO SECTION*/

.portfolio{
    background-color: rgba(29, 20, 10, 0.624);
    color: #ffffff;
    padding: 50px 20px;
}

.portfolio .content-section{
    max-width: 1100px;
    margin: auto;
}

.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.portfolio .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .gallery .project{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .gallery .project img{
    width: 100%;
    display: block;
    border-radius: 3%;
}

.portfolio .gallery .project .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(71, 61, 41, 0.8),rgb(231, 196, 130,.8) ) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .gallery .project .overlay h3{
    margin-bottom: 20px;
    transition: 1s;

}

.portfolio .gallery .project .overlay:hover{
opacity: 1;

}

.portfolio .gallery .project .overlay:hover h3{
    margin-bottom: 0px;
    
    }

/*END PORTFOLIO SECTION*/

/* START SECTION CONTACT*/

.contact{
    background-color: rgba(34, 24, 13, 0.624);
    color: #ffffff;
    padding: 50px 0;
}

.contact .content-section{
    max-width: 1100px;
    margin: auto;
}

.contact h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.contact .line {
    display: flex;
}

.contact .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contact .col input, .contact .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #443a30;
    color: #ffffff;
    font-size: 18px;
    
}

.contact button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffffff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    z-index: 10;
}

.contact button .overlay{
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background-color: orange;
z-index: -1;
transition: 1s;

}

.contact button:hover .overlay{
width: 100%;

}

.contact .col img{
    width: 100%;   
    }

.contact .col .info{
    position: absolute;
    top: 30%;
    background-color: #1f1c19;
    padding: 20px;
    width: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact .col .info ul{
list-style: none;
}
.contact .col .info ul li{
    margin-bottom: 20px;
}

.contact .col .info ul li i{
color: orange;
display: inline-block;
margin-right: 20px;
}
/*END SECTION CONTACT*/

/* START SECTION FOOTER*/

footer{
    background-color: #1f1c19;
    color: #ffffff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .socialmedia{
    margin-bottom: 20px;

}

footer .socialmedia a{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .socialmedia a:hover{
    background-color: rgb(143, 94, 4);
    box-shadow: 0 0 1rem var(rgb(143, 94, 4));
}
footer .up{
    display: block;
    width: 50px;
    height: 50px;
    background-color: orange;
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;

}
/* END SECTION FOOTER*/

/* START SECTION RESPONSIVE*/

@media screen and ( max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #1f1c19;
        width: 180px;
    }

    nav.responsive ul{
        display: block !important;

    }

    nav.responsive ul li{
        border-bottom: 1px solid #ffffff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px){

.home .line{
    width: 100%;
}

.home .line .col{
    width: 100%;
}
    .aboutme .line{
        display: block;
    }
    .aboutme .line .col{
        width: fit-content;
    }

    .skills .line{
        display: block;
    }

    .skills .line .col{
        width: 100%;
    }

    .skills .line .col .barra-skill{
        width: 100%;
    }

    .experience .line{
        display: block;
    }

    .experience .line .col{
    width: 90%;
    }

    .experience .line .righ{
        margin-left: 20px;

    }

    
    .portfolio .gallery{
    display: block;
    width: 100%;
    }

    .portfolio .gallery .project{
    max-width: 100%;
    }

    .portfolio .gallery .project img{
    width: 100%;
    }

    .contact .line{
    display: block;
    }

    .contact .line .col{
    width: 100%;
    }

}
/* END SECTION RESPONSIVE*/